
body{
    color: #d8c13a;
    background-color: #262633;
    overflow-x: hidden;
    padding-bottom: 104px; 
}

#jumbo {
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    background-color: #141422;

}
#jumbo h1 {
text-shadow: 3px 3px 0px #eee, 5px 5px 0px #707070;
}

#canvas {
    border: 1px solid white;
}

#footer {
    background-color: #141422;

